
@import "nib"
vendor-prefixes = o ms moz webkit official

//variables
rojo     = #DD092F
amarillo = #FFCC00
verde    = #30FA04
coral    = #05FBFB
azul     = #509BFB

radius   = 10px


@import "includes/mixins.styl"
@import "includes/base.styl"
@import "includes/utilidades.styl"
@import "includes/botones.styl"
@import "includes/pokedex.styl"













